/*public*/
*{margin: 0;padding:0}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{display:block;content:"";clear:both;}
.clearfix{zoom:1;}
ul,li{list-style: none}
a{color:inherit; text-decoration: none;border: none}
a img{border: none}
*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.op60 {
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6;
}
.circle {
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

html, body {
    position: relative;
    height: 100%;
    overflow: hidden;
}
body {
    background: #000000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    min-width: 1000px;
    min-height: 700px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header{position:absolute;left:0;top:0;z-index:9999;width:100%;text-align:right;}
.header .con{padding: 30px;}
.header .con .btn-menu{padding-right: 20px;}

.menu-list{display:none;position: absolute;left: 0;top:0;width: 100%;height: 100%;z-index:8888;background: rgba(0,0,0,0.5);}
.menu-list .con{width: 50%;height: 100%; margin: 0 auto;background:#000000;color:#919191;text-align: center;font-size: 20px;line-height: 80px;}
.menu-list .con ul{padding-top: 150px;letter-spacing: 3px;}
.menu-list .con ul li.on{color:#FF6600;}


.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/

    /* Center slide text vertically */
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/

    overflow: hidden;
}
.bg{position: absolute;left: 0;top:0;width: 100%;height: 100%;
    -webkit-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);}
.swiper-slide .bg{
    -webkit-transition: all 5000ms ease;
    -o-transition: all 5000ms ease;
    -moz-transition: all 5000ms ease;
    -ms-transition: all 5000ms ease;
    transition: all 5000ms ease;
}
.swiper-slide-active .bg{
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -moz-transform: scale(1,1);
    transform: scale(1,1);
}
.page1 .bg{background: url("../img/bg1.png") no-repeat center center; background-size: cover}
.page2 .bg{background: url("../img/bg2.png") no-repeat center center; background-size: cover}
.page3 .bg{background: url("../img/bg3.png") no-repeat center center; background-size: cover}
.page4 .bg{background: #000 no-repeat center center; background-size: cover}
.page5 .bg{background: url("../img/bg5.png") no-repeat center center; background-size: cover}
.page6 .bg{background: #fff no-repeat center center; background-size: cover}


/*--------------------page2---------------------*/
.page2 .cont{position:absolute;bottom:20%;left:10%;width:32.5%;}
.page2 .btn{position: absolute;bottom:7%;left:10%;width:35%;}
/*--------------------page3---------------------*/
.page3 .video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.page3 .video-wrap .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.page3 .video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 54px;
    height: 54px;
    overflow: hidden;
    margin-left: 300px;
    margin-top: -30px;
    border: 2px solid #fff;
    cursor: pointer;
}
.video-play .video-play-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-play span {
    position: absolute;
    top: 11px;
    left: 19px;
    border-left: 18px solid #fff;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}
/*--------------------page4---------------------*/
.page4 .bg4-1{position: absolute;left: 0;top:0;width: 100%;height: 100%;
    background: url("../img/bg4.png") no-repeat center center; background-size: cover}
.page4 .bg4-2{position: absolute;left: 0;top:0;width: 100%;height: 100%;
    background: url("../img/bg4-2.png") no-repeat center center; background-size: cover}
.page4 .bg4-3{position: absolute;left: 0;top:0;width: 100%;height: 100%;
    background: url("../img/bg4-3.png") no-repeat center center; background-size: cover}
.page4 .swiper-pagination-h{position:absolute;height: 120px;z-index: 1;}
.page4 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 100px;
    border-radius: 0;
}
.page4 .swiper-pagination-h .swiper-pagination-bullet:nth-of-type(1){width: 98px;height: 120px;background: url("../img/icon1.png") no-repeat center center}
.page4 .swiper-pagination-h .swiper-pagination-bullet:nth-of-type(1).swiper-pagination-bullet-active{background: url("../img/icon1-active.png") no-repeat center center}
.page4 .swiper-pagination-h .swiper-pagination-bullet:nth-of-type(2){width: 98px;height: 120px;background: url("../img/icon2.png") no-repeat center center}
.page4 .swiper-pagination-h .swiper-pagination-bullet:nth-of-type(2).swiper-pagination-bullet-active{background: url("../img/icon2-active.png") no-repeat center center}
.page4 .swiper-pagination-h .swiper-pagination-bullet:nth-of-type(3){width: 98px;height: 120px;background: url("../img/icon3.png") no-repeat center center}
.page4 .swiper-pagination-h .swiper-pagination-bullet:nth-of-type(3).swiper-pagination-bullet-active{background: url("../img/icon3-active.png") no-repeat center center}
.page4 .swiper-pagination-h li{float: left;}
/*-----page4-1-----*/
.page4-1-cont{position:absolute;left:16.7%;top:22%;width: 66.6%;color:#ffffff;text-align: left}
.page4-1-cont h2{font-size:44px;padding-bottom: 60px;letter-spacing: 1.96px;}
.page4-1-cont p.des{font-size: 20px;letter-spacing: 0.7px;line-height: 40px;}
.page4-1-cont p.more{padding-top: 30px;font-weight: 600;cursor: pointer;}
/*-----page4-2-----*/
.page4-2-cont{position:absolute;left:20%;top:14%;width: 60%;color:#ffffff;text-align: center}
.page4-2-cont h2{font-size:44px;padding-bottom: 50px;letter-spacing: 1.96px;text-align: left}
/*-----page4-3-----*/
.page4-3-cont{position:absolute;left:15%;top:14%;width: 70%;color:#ffffff;text-align: left}
.page4-3-cont h2{font-size:44px;padding-bottom: 50px;letter-spacing: 1.96px;}
.page4-3-cont table{width: 100%;border-collapse:collapse;font-size: 20px;}
.page4-3-cont table thead tr th{border-bottom: 2px solid #ffffff;font-size:24px;padding-bottom: 30px;text-align: left}
.page4-3-cont table tbody tr td{padding-top: 30px;}
.page4-3-cont .type{margin-left:10px;padding:3px 5px;font-size:16px;background:#F96E32;color:#ffffff;border-radius: 5px;}
.page4-3-cont p.more{padding-top: 30px;font-weight: 600;cursor: pointer;}
/*--------------------page5---------------------*/
.page5 .cont{position:absolute;left:10%;top:20%;width: 80%;}
/*--------------------page6---------------------*/
.page6 .cont{position:absolute;left:10%;top:20%;width: 80%;}
.page6 .cont .contact{width: 50%;margin-left:5%;text-align: left;font-size: 20px;color: #454545;letter-spacing: 0.77px;}
.page6 .cont .contact h2{color: #454545;letter-spacing: 1.96px;padding-bottom: 10%;font-size: 40px;font-weight: normal}
.page6 .cont .contact h3{font-size: 30px;color: #515151;letter-spacing: 1.26px;font-weight: normal}
.page6 .cont .contact p{padding-bottom: 25px}
.page6 .cont .contact p.en{font-size: 18px;}

/*-------二级页面(企业介绍)----------*/
.container{width: 96%;height: 100%;margin:0 auto;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;}
.container h1{padding:30px 0 0;text-align:left;font-size: 40px;color: #454545;letter-spacing: 1.96px;font-weight: normal;}
.introduction h2{font-size: 22px;color: #999999;letter-spacing: 1.05px;padding: 20px 0;}
.introduction h3{font-size: 18px;color: #999999;letter-spacing: 0.84px;font-weight: normal;padding-bottom: 20px;}
.introduction .line{width: 100px;height: 2px;background: #EDECF3;margin: 0 auto;}
.introduction p{font-size: 16px;text-align: left;color: #999999;letter-spacing: 0.7px;line-height: 34px;padding: 20px 0;}
.introduction .dot{font-weight:900;margin: 0 20px}
.introduction .wrap-box .box{width: 47%;}
.introduction .wrap-box .box .icon{padding-top:50px;}
.introduction .wrap-box .box p{padding-top: 0}
/*---------------社会招聘列表----------------*/
.recuitList table{width: 100%;border-collapse:collapse;font-size: 20px;}
.recuitList table thead tr th{color:#F96E32;border-bottom: 2px solid #F96E32;font-size:24px;text-align: left;padding: 40px 0 20px;}
.recuitList table tbody tr td{text-align: left;color: #999999;letter-spacing: 0.84px;border-bottom: 1px solid #CACACA;line-height: 70px;}
.recuitList .type{margin-left:10px;padding:3px 5px;font-size:16px;background:#F96E32;color:#ffffff;border-radius: 5px;}
/*---------------社会招聘详情----------------*/
.recuitDetail h2{font-size: 24px;color: #F96E32;letter-spacing: 0.98px;text-align: left;line-height: 70px;border-bottom:1px solid #CACACA;font-weight: normal;}
.recuitDetail .part1{font-size: 18px;color: #999999;letter-spacing: 0.7px;line-height: 2.5;padding-top: 10px;}
.recuitDetail .part1-1{width: 40%; text-align:left}
.recuitDetail .part1-2,.recuitDetail .part1-3{width: 30%; text-align:left}
.recuitDetail h3{font-size: 20px;color: #F96E32;letter-spacing: 0.7px;text-align: left;line-height: 70px;border-bottom:1px solid #CACACA;font-weight: normal;padding-top: 20px;}
.recuitDetail p{font-size:17px;color: #999999;letter-spacing: 0.7px;line-height: 50px;text-align: left;padding-top: 10px;}