html, body {
    position: relative;
    height: 100%;
    overflow: hidden;
}
body {
    background: #000000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    min-width: 1000px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/

    /* Center slide text vertically */
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/

    overflow: hidden;
}
.bg{position: absolute;left: 0;top:0;width: 100%;height: 100%;
    -webkit-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);}
.swiper-slide .bg{
    -webkit-transition: all 5000ms ease;
    -o-transition: all 5000ms ease;
    -moz-transition: all 5000ms ease;
    -ms-transition: all 5000ms ease;
    transition: all 5000ms ease;
}
.swiper-slide-active .bg{
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -moz-transform: scale(1,1);
    transform: scale(1,1);
}
.page1 .bg{background: url("../img/bg1.png") no-repeat center center; background-size: cover}
.page2 .bg{background: url("../img/bg2.png") no-repeat center center; background-size: cover}
.page3 .bg{background: url("../img/bg3.png") no-repeat center center; background-size: cover}
.page4 .bg{background: #000 no-repeat center center; background-size: cover}
.page5 .bg{background: url("../img/bg5.png") no-repeat center center; background-size: cover}
.page6 .bg{background: #fff no-repeat center center; background-size: cover}

.bg4-1{position: absolute;left: 0;top:0;width: 100%;height: 100%;
    background: url("../img/bg4.png") no-repeat center center; background-size: cover}
.bg4-2{position: absolute;left: 0;top:0;width: 100%;height: 100%;
    background: url("../img/bg4-2.png") no-repeat center center; background-size: cover}
.bg4-3{position: absolute;left: 0;top:0;width: 100%;height: 100%;
    background: url("../img/bg4-3.png") no-repeat center center; background-size: cover}
.swiper-pagination-h{position:absolute;height: 70px;z-index: 1;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 40px;
}
.swiper-pagination-h .swiper-pagination-bullet:nth-of-type(1){width: 70px;height: 70px;background: url("../img/icon1.png") no-repeat center center}
.swiper-pagination-h .swiper-pagination-bullet:nth-of-type(1).swiper-pagination-bullet-active{background: url("../img/icon1-active.png") no-repeat center center}
.swiper-pagination-h .swiper-pagination-bullet:nth-of-type(2){width: 70px;height: 70px;background: url("../img/icon2.png") no-repeat center center}
.swiper-pagination-h .swiper-pagination-bullet:nth-of-type(2).swiper-pagination-bullet-active{background: url("../img/icon2-active.png") no-repeat center center}
.swiper-pagination-h .swiper-pagination-bullet:nth-of-type(3){width: 70px;height: 70px;background: url("../img/icon3.png") no-repeat center center}
.swiper-pagination-h .swiper-pagination-bullet:nth-of-type(3).swiper-pagination-bullet-active{background: url("../img/icon3-active.png") no-repeat center center}

*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.op60 {
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6;
}
.circle {
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.page3 .video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.page3 .video-wrap .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.page3 .video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 54px;
    height: 54px;
    overflow: hidden;
    margin-left: 300px;
    margin-top: -30px;
    border: 2px solid #fff;
    cursor: pointer;
}
.video-play .video-play-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-play span {
    position: absolute;
    top: 11px;
    left: 19px;
    border-left: 18px solid #fff;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}

/*.swiper-slide .bg.ani {*/
    /*-webkit-transform: scale(1,1);*/
    /*-o-transform: scale(1,1);*/
    /*-moz-transform: scale(1,1);*/
    /*transform: scale(1,1);*/
/*}*/
/*.swiper-slide .bg {*/

/*}*/

.swiper-pagination-h li{float: left;}
.swiper-pagination-h li.on{color: #fff;}