/*public*/
*{margin: 0;padding:0}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{display:block;content:"";clear:both;}
.clearfix{zoom:1;}
ul,li{list-style: none}
a{color:inherit; text-decoration: none;border: none}
a img{border: none}
/*img{display:block;}*/
*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.op60 {
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6;
}
.circle {
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

html, body {
    position: relative;
    height: 100%;
    overflow: hidden;
}
body {
    /*background: #000000;*/
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    min-width: 1000px;
    min-height: 700px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header{position:absolute;left:0;top:0;z-index:9999;width:100%;text-align:left;}
.header .con{padding: 30px;}
.top-menu {
    position: absolute;
    top: 30px;
    right:50px;
    padding: 6px 9px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    border: 2px solid #FFFFFF;
}
.top-menu .bar {
    position: relative;
    display: block;
    width: 25px;
    height: 2px;
    margin: 6px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .3s;
    transition: .3s;
}
.cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(9px) rotate(-45deg);
    -ms-transform: translateY(9px) rotate(-45deg);
    transform: translateY(9px) rotate(-45deg);
}
.cross .bar:nth-of-type(2) {
    opacity: 0;
}
.cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-6.5px) rotate(45deg);
    -ms-transform: translateY(-6.5px) rotate(45deg);
    transform: translateY(-6.5px) rotate(45deg);
}



.menu-list{display:none;position: absolute;left: 0;top:0;width: 100%;height: 100%;z-index:8888;background: rgba(0,0,0,0.7);}
.menu-list .con{position:relative;width: 30%;height: 100%; margin: 0 auto;color:#919191;text-align: center;font-size: 20px;line-height: 80px;}
.menu-list .con ul{position:absolute;left:0;top:50%;width:100%;margin-top:-280px;letter-spacing: 3px;cursor: pointer}
.menu-list .con ul li.on{color:#FF6600;}

.ani{position:absolute;}

.swiper-container{height: 100%;}
.swiper-wrapper{position: relative;height: 100%;}
.swiper-slide{width: 100%;height: 100%;color: #fff;overflow: hidden;}
/*.bg{*/
    /*-webkit-transform: scale(1.3,1.3);*/
    /*-o-transform: scale(1.3,1.3);*/
    /*-moz-transform: scale(1.3,1.3);*/
    /*transform: scale(1.3,1.3);}*/
/*}*/
/*.swiper-slide .bg{*/
    /*-webkit-transition: all 3000ms ease;*/
    /*-o-transition: all 3000ms ease;*/
    /*-moz-transition: all 3000ms ease;*/
    /*-ms-transition: all 3000ms ease;*/
    /*transition: all 3000ms ease;*/
/*}*/
/*.swiper-slide-active .bg{*/
    /*-webkit-transform: scale(1,1);*/
    /*-o-transform: scale(1,1);*/
    /*-moz-transform: scale(1,1);*/
    /*transform: scale(1,1);*/
/*}*/
.page1{background: url("../img/bg1.jpg") no-repeat center center; background-size: cover}
.page2{background: url("../img/bg2.png") no-repeat center center; background-size: cover}
.page3{background:#000 url("../img/bg3.jpg") no-repeat center center; background-size: cover}
.page4{background: url("../img/bg4.png") no-repeat center center; background-size: cover}
.page5{background: gray no-repeat center center; background-size: cover}
.page6{background: url("../img/bg6.png") no-repeat center center; background-size: cover}
.page7{background: #fff no-repeat center center; background-size: cover}


/*--------------------page2---------------------*/
.page2 .cont{position: absolute;left:40%;top:53%;width: 45%;height: 58%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);color: #6F6F6F;font-size: 16px;}
.page2 .cont img.logo3d{position: absolute;left: 0;top:0;width:300px;font-weight:normal;font-size:35px;letter-spacing: 1px;}
.page2 li{position:absolute;left:18px;list-style-type:disc;font-size:20px;line-height: 1.5;letter-spacing: 1px;}
.page2 li:nth-of-type(1){top:137px;}
.page2 li:nth-of-type(2){top:219px;}
.page2 li:nth-of-type(3){top:270px;}
.btn-down-ios a,.btn-down-andr a,.btn-down-pc a{display: inline-block;cursor: pointer}
.btn-down-ios img,.btn-down-andr img,.btn-down-pc img{visibility: hidden}
.btn-down-ios{position:absolute;width:200px;left:0;bottom:0;background:url("../img/btn-down-ios.png") center no-repeat;background-size: contain;}
.btn-down-andr{position:absolute;width:200px;left:35%;bottom:0;background:url("../img/btn-down-andr.png") center no-repeat;background-size: contain;}
.btn-down-ios:hover{background-image: url("../img/btn-down-ios-hover.png")}
.btn-down-andr:hover{background-image: url("../img/btn-down-andr-hover.png")}
/*--------------------page3--------------------*/
.page3 .cont{position: absolute;left:43%;top:56%;width: 50%;height: 45%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);color: #FFFFFF}
.page3 .cont h2{position: absolute;left: 0;top:0;font-weight:normal;font-size:35px;letter-spacing: 2px;}
.page3 li{position:absolute;left:18px;list-style-type:disc;font-size:16px;line-height: 2.5;letter-spacing: 2px;}
.page3 li:nth-of-type(1){top:86px;}
.page3 li:nth-of-type(2){top:126px;}
.page3 li:nth-of-type(3){top:166px;}
.btn-down-pc{position:absolute;width:38%;height:auto;left:0;bottom:0;background:url("../img/btn-down-pc.png") center no-repeat;background-size: contain;}
.btn-down-pc:hover{background-image: url("../img/btn-down-pc-hover.png")}
/*--------------------page4---------------------*/
.page4 .video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*.page4 .video-wrap .mask {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: #000;*/
/*}*/

/*.page4 .video-play {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 54px;*/
    /*height: 54px;*/
    /*overflow: hidden;*/
    /*margin-left: 300px;*/
    /*margin-top: -30px;*/
    /*border: 2px solid #fff;*/
    /*cursor: pointer;*/
/*}*/
/*.video-play .video-play-inner {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*.video-play span {*/
    /*position: absolute;*/
    /*top: 11px;*/
    /*left: 19px;*/
    /*border-left: 18px solid #fff;*/
    /*border-top: 14px solid transparent;*/
    /*border-bottom: 14px solid transparent;*/
/*}*/
.v-wrap{position:absolute;left:0;top:0;width:100%;height:100%;background: #000000;}
.v-wrap video{position: absolute;left: 0;top:0;width: 100%;height: 100%;}
.video-action{position: absolute;left: 50%;top:50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
/*--------------------page5---------------------*/
.tabs{
    position: absolute;left:20%;bottom:8%;width: 60%;z-index:3;transform: translate3d(0px, 0px, 0px);
}
.tabs a{
    display: inline-block;
    width: 32%;
    height: 90px;
    margin: 0;
    padding:0;
}
.tabs a:nth-of-type(1){
    background: url("../img/icon1.png") center no-repeat;background-size: contain;
}
.tabs a:nth-of-type(2){
    background: url("../img/icon2.png") center no-repeat;background-size: contain;
}
.tabs a:nth-of-type(3){
    background: url("../img/icon3.png") center no-repeat;background-size: contain;
}
.tabs a.active:nth-of-type(1) {
    background: url("../img/icon1-active.png") center no-repeat;background-size: contain;
}
.tabs a.active:nth-of-type(2) {
    background: url("../img/icon2-active.png") center no-repeat;background-size: contain;
}
.tabs a.active:nth-of-type(3) {
    background: url("../img/icon3-active.png") center no-repeat;background-size: contain;
}
.page5-1{background: url("../img/bg5.png") no-repeat center center; background-size: cover}
.page5-2{background: url("../img/bg5-2.png") no-repeat center center; background-size: cover}
.page5-3{background: url("../img/bg5-3.png") no-repeat center center; background-size: cover}

.page5-1 .cont,.page5-2 .cont,.page5-3 .cont{position: absolute;left:50%;top:40%;width: 60%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.page5-1 .cont h2,.page5-2 .cont h2,.page5-3 .cont h2{font-weight: normal;font-size: 40px;padding-bottom: 40px;}
.page5-1 .cont p.des{font-size: 18px;padding-bottom: 30px;letter-spacing: 2px;line-height:2;}
.cont p.more a{display:inline-block;line-height: 2;font-size: 18px;letter-spacing: 2px;cursor: pointer;}
.page5-2 .cout{top:10%;width: 90%}
.page5-3 .cout{top:10%;width: 90%}
.page5-3 table{width: 100%;border-collapse:collapse;font-size: 20px;margin-bottom: 30px;}
.page5-3 table thead tr th{border-bottom: 2px solid #ffffff;font-size:24px;padding-bottom: 30px;text-align: left}
.page5-3 table tbody tr td{padding-top: 30px;cursor: pointer}
.page5-3 .type{margin-left:10px;padding:3px 5px;font-size:16px;background:#F96E32;color:#ffffff;border-radius: 5px;}
/*--------------------page6---------------------*/
.page6 img{position:absolute;width:80%;left:50%;top:50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
/*--------------------page7---------------------*/
.page7 .cont{position:absolute;left:50%;top:50%;width:80%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.contact{position: absolute;left: 44%;top:0;width: 63%;color: #000000}

/*-------二级页面(企业介绍)----------*/
.container{width: 96%;height: 100%;margin:0 auto;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;}
.container h1{padding:30px 0 0;text-align:left;font-size: 40px;color: #454545;letter-spacing: 1.96px;font-weight: normal;}
.introduction h2{text-align:center;font-size: 22px;color: #999999;letter-spacing: 1.05px;padding: 20px 0;}
.introduction h3{text-align:center;font-size: 18px;color: #999999;letter-spacing: 0.84px;font-weight: normal;padding-bottom: 20px;}
.introduction .line{width: 100px;height: 2px;background: #EDECF3;margin: 0 auto;}
.introduction p{font-size: 16px;text-align: left;color: #999999;letter-spacing: 0.7px;line-height: 34px;padding: 20px 0;}
.introduction .dot{font-weight:900;margin: 0 20px}
.introduction .wrap-box .box{width: 47%;}
.introduction .wrap-box .box .icon{padding-top:50px;}
.introduction .wrap-box .box p{padding-top: 0}
.introduction img.icon{display:block;width: 57px; margin:0 auto;}
/*---------------社会招聘列表----------------*/
.recuitList table{width: 100%;border-collapse:collapse;font-size: 20px;}
.recuitList table thead tr th{color:#F96E32;border-bottom: 2px solid #F96E32;font-size:24px;text-align: left;padding: 40px 0 20px;}
.recuitList table tbody tr td{text-align: left;color: #999999;letter-spacing: 0.84px;border-bottom: 1px solid #CACACA;line-height: 70px;}
.recuitList .type{margin-left:10px;padding:3px 5px;font-size:16px;background:#F96E32;color:#ffffff;border-radius: 5px;}
/*---------------社会招聘详情----------------*/
.recuitDetail h2{font-size: 24px;color: #F96E32;letter-spacing: 0.98px;text-align: left;line-height: 70px;border-bottom:1px solid #CACACA;font-weight: normal;}
.recuitDetail .part1{font-size: 18px;color: #999999;letter-spacing: 0.7px;line-height: 2.5;padding-top: 10px;}
.recuitDetail .part1-1{width: 40%; text-align:left}
.recuitDetail .part1-2,.recuitDetail .part1-3{width: 30%; text-align:left}
.recuitDetail h3{font-size: 20px;color: #F96E32;letter-spacing: 0.7px;text-align: left;line-height: 70px;border-bottom:1px solid #CACACA;font-weight: normal;padding-top: 20px;}
.recuitDetail p{font-size:17px;color: #999999;letter-spacing: 0.7px;line-height: 50px;text-align: left;padding-top: 10px;}


@media screen and (min-width: 0px) and (max-width: 1000px){
    .tabs a{height: 80px;}
    .btn-down-ios{width: 160px;}
    .btn-down-andr{width: 160px;}
}
@media screen and (min-width: 1001px) and (max-width: 1400px){
    .tabs a{height: 90px;}
    .btn-down-ios{width: 180px;}
    .btn-down-andr{width: 180px;}
}
@media screen and (min-width: 1401px) and (max-width: 1800px){
    .tabs a{height: 110px;}
    .btn-down-ios{width: 200px;}
    .btn-down-andr{width: 200px;}
}
@media screen and (min-width: 1801px) {
    .tabs a{height: 120px;}
    .btn-down-ios{width: 220px;}
    .btn-down-andr{width: 220px;}
}