/*public*/
*{margin: 0;padding:0}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{display:block;content:"";clear:both;}
.clearfix{zoom:1;}
ul,li{list-style: none}
a{color:inherit; text-decoration: none;border: none}
a img{border: none}
/*img{display:block;}*/
*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color:#000;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}
.loading{width: 100%;height: 100%;
    position: absolute;left: 0;top: 0;
    background: #000000 url(../img/loading.gif) no-repeat center;
    z-index: 999999;color: #FFFFFF;font-size: 1.09rem;
}
.loading p{position: absolute;top: 50%;text-align: center;
    width: 100%;font-family: helvetica;transform: translateY(4rem);
}
.next{position: absolute;bottom:5px;left: 50%;width: 30px;margin-left: -17px;
    transform: translateY(0);animation: moveNext .5s infinite alternate-reverse;z-index: 2
}
@keyframes moveNext{
    from{transform: translateY(0);}
    to{transform: translateY(5px);}
}

.top{position:fixed;left:0;top:0;width: 100%;background:#2e2f33;;height: 70px;z-index:2;text-align: center;}
.top img{padding-top: 20px;}
.top-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}
.top-menu .bar {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .3s;
    transition: .3s;
}
.cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(7px) rotate(-45deg);
    -ms-transform: translateY(7px) rotate(-45deg);
    transform: translateY(7px) rotate(-45deg);
}
.cross .bar:nth-of-type(2) {
    -webkit-transform: translateY(-5.5px) rotate(45deg);
    -ms-transform: translateY(-5.5px) rotate(45deg);
    transform: translateY(-5.5px) rotate(45deg);
}

.menu-list{display:none;position: absolute;top:70px;left:0;right:0;bottom:0;z-index:3;width:100%;background: rgba(0,0,0,0.8);text-align:center;color: #919191;}
.menu-list ul{position: absolute;left:50%;top:50%;width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.menu-list ul li{padding:20px 0;font-size: 0.8rem;}
.menu-list ul li.on{color:#FF6600;}

.ani{position:absolute;}

.swiper-container{height: 100%;}
.swiper-wrapper{position: relative;height: 100%;}
.swiper-slide{width: 100%;height: 100%;color: #fff;overflow: hidden;}

.page1{background: url("../img/small/bg1.png") no-repeat center center; background-size: cover}
.page2{background: url("../img/small/bg2.png") no-repeat center center; background-size: cover}
.page3{background:#000 url("../img/bg3.png") no-repeat center center; background-size: cover}
.page4{background: gray no-repeat center center; background-size: cover}
.page5{background: url("../img/small/bg5.png") no-repeat center center; background-size: cover}
.page6{background: #fff no-repeat center center; background-size: cover}

/*-------------page2--------------*/
.page2 .cont{position: absolute;left:40%;top:53%;width: 71%;height: 53%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);color: #6F6F6F;font-size: 16px;}
.page2 .cont img.logo3d{position: absolute;left: 0;top:0;width:195px;font-weight:normal;font-size:35px;letter-spacing: 1px;}
.page2 li{position:absolute;left:18px;list-style-type:disc;line-height: 1.5;letter-spacing: 1px;}
.page2 li:nth-of-type(1){top:97px;}
.page2 li:nth-of-type(2){top:165px;}
.page2 li:nth-of-type(3){top:230px;}
.btn-down-ios a,.btn-down-andr a,.btn-down-pc a{display: inline-block;cursor: pointer}
.btn-down-ios img,.btn-down-andr img,.btn-down-pc img{visibility: hidden}
.btn-down-ios{position:absolute;width:110px;left:0;bottom:0;background:url("../img/btn-down-ios.png") center no-repeat;background-size: contain;}
.btn-down-andr{position:absolute;width:110px;left:45%;bottom:0;background:url("../img/btn-down-andr.png") center no-repeat;background-size: contain;}
.btn-down-ios:hover{background-image: url("../img/btn-down-ios-hover.png")}
.btn-down-andr:hover{background-image: url("../img/btn-down-andr-hover.png")}
/*---------------page3--------------*/
.v-wrap{position:absolute;left:0;top:0;width:100%;height:100%;background: #000000;}
.v-wrap video{position: absolute;left: 0;top:0;width: 100%;height: 100%;}
/*-----------------page4------------*/
.tabs{
    position: absolute;left:0;bottom:7%;width: 100%;z-index:3;transform: translate3d(0px, 0px, 0px);
}
.tabs a{
    display: inline-block;
    width: 32%;
    height: 60px;
    margin: 0;
    padding:0;
}
.tabs a:nth-of-type(1){
    background: url("../img/icon1.png") center no-repeat;background-size: contain;
}
.tabs a:nth-of-type(2){
    background: url("../img/icon2.png") center no-repeat;background-size: contain;
}
.tabs a:nth-of-type(3){
    background: url("../img/icon3.png") center no-repeat;background-size: contain;
}
.tabs a.active:nth-of-type(1) {
    background: url("../img/icon1-active.png") center no-repeat;background-size: contain;
}
.tabs a.active:nth-of-type(2) {
    background: url("../img/icon2-active.png") center no-repeat;background-size: contain;
}
.tabs a.active:nth-of-type(3) {
    background: url("../img/icon3-active.png") center no-repeat;background-size: contain;
}
.page4-1{background: url("../img/small/bg4-1.png") no-repeat center center; background-size: cover}
.page4-2{background: url("../img/small/bg4-2.png") no-repeat center center; background-size: cover}
.page4-3{background: url("../img/small/bg4-3.png") no-repeat center center; background-size: cover}

.page4-1 .cont,.page4-2 .cont,.page4-3 .cont{position: absolute;left:50%;top:47%;width: 90%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.page4-1 .cont h2,.page4-2 .cont h2,.page4-3 .cont h2{font-weight: normal;font-size:20px;padding-bottom: 40px;}
.page4-1 .cont p.des{padding-bottom: 30px;letter-spacing: 2px;line-height:2;}
.cont p.more a{display:inline-block;line-height: 2;letter-spacing: 2px;cursor: pointer;}
.page4-3 .cont{width: 97%;}
.page4-3 table{width: 100%;border-collapse:collapse;margin-bottom: 30px;}
.page4-3 table thead tr th{border-bottom: 2px solid #ffffff;font-size:15px;padding-bottom: 30px;text-align: left}
.page4-3 table tbody tr td{padding-top: 30px;cursor: pointer}
.page4-3 .type{margin-left:10px;padding:3px 5px;font-size:10px;background:#F96E32;color:#ffffff;border-radius: 5px;}
/*---------------page5---------------*/
.page5 img.cont5{position:absolute;width:88%;left:50%;top:50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
/*--------------------page7---------------------*/
.page6 .cont{position:absolute;left:50%;top:55%;width:70%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}





@media screen and  (max-width: 320px){
    .page2 .cont{height: 60%}
}